workflows.json
[{"createdAt":"2025-08-26T16:42:37.700Z","updatedAt":"2025-08-26T18:40:21.000Z","id":"BlSBEKxAvlfsBouh","name":"generate_design_attributes_main","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2480,64],"id":"dc64849f-9aeb-4a01-8a50-698865cbb9fa","name":"Loop Over Items"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"16HZbhUsQcywm0UoYxlA8FoCkPvC9cKD8fvpRn3T9VgE","mode":"list","cachedResultName":"shirt designs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16HZbhUsQcywm0UoYxlA8FoCkPvC9cKD8fvpRn3T9VgE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"designs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16HZbhUsQcywm0UoYxlA8FoCkPvC9cKD8fvpRn3T9VgE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2704,128],"id":"d21e73fc-e58d-4f04-a2c7-f895049e1c6f","name":"Get shirts in sheet","credentials":{"googleApi":{"id":"0RPgTj3sgfGEC2aB","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","queryString":"={{ $('received_row').item.json.category }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2256,-320],"id":"d3f46a0e-a6b8-45e3-9225-11296204f3d6","name":"Get_shirt_category_folder_from_drive","credentials":{"googleApi":{"id":"0RPgTj3sgfGEC2aB","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","queryString":"={{ $('received_row').item.json.image_name }}","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2032,-320],"id":"aa6adb61-9016-45d9-9860-eec0094c0f16","name":"Get_shirt_image_id_from_drive","credentials":{"googleApi":{"id":"0RPgTj3sgfGEC2aB","name":"Google Service Account account"}}},{"parameters":{"url":"https://api.printful.com/stores","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2480,-320],"id":"cbc16073-08cc-4eeb-9811-ed885df706f6","name":"Get_stores_from_PRINTFUL","credentials":{"httpBearerAuth":{"id":"Xn7kPe4GiNXZDOcw","name":"Bearer Auth account"}}},{"parameters":{"method":"POST","url":"https://api.printful.com/files","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-PF-Store-Id","value":"={{ $('Get_stores_from_PRINTFUL').item.json.result[0].id }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"default"},{"name":"url","value":"=https://drive.usercontent.google.com/download?id={{ $('Get_shirt_image_id_from_drive').item.json.id }}"},{"name":"filename","value":"={{ $('Get_shirt_category_folder_from_drive').item.json.name }}_{{ $('Get_shirt_image_id_from_drive').item.json.name }}"},{"name":"options","value":"=[{\"id\": \"template_type\",\"value\": \"native\"}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1584,-320],"id":"b3b16601-ef57-4bd8-b06b-0d8b9f70d3e4","name":"Upload_image_to_printful","credentials":{"httpBearerAuth":{"id":"Xn7kPe4GiNXZDOcw","name":"Bearer Auth account"}}},{"parameters":{"authentication":"serviceAccount","operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1808,-320],"id":"ae307090-3a1d-452c-9166-0913399975c6","name":"Set_image_public","credentials":{"googleApi":{"id":"0RPgTj3sgfGEC2aB","name":"Google Service Account account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst r = $json;\nreturn {\n  json: {\n    row_number: r.row_number,\n    design_id: r.design_id,\n    product_type: r.design_id.split(\"_\")[2],\n    category: r.design_id.split(\"_\")[1],\n    image_name: r.design_id.split(\"_\")[0],\n    n8n_info: r.n8n_info,\n    uploaded_image_name: r.uploaded_image_name,\n    title: r.title,\n    description: r.description,\n    tags: r.tags,\n    occasion: r.occasion,\n    material: r.material\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2032,-96],"id":"4198ac0e-7a07-4306-8478-fddfbb4bf99f","name":"Extract_everything"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"You are analyzing a T-shirt design for a print-on-demand store.  \nLook carefully at the ATTACHED IMAGE and output only valid JSON describing the design and its humor.\n\nOutput JSON format:\n{\n  \"text_on_design\": [\"exact text visible on the shirt, or [] if none\"],\n  \"design\": \"detailed description of the visual elements on the shirt (characters, objects, symbols, layout, arrangement)\",\n  \"style\": \"art style in 1–3 words (e.g. cartoon, minimalist text, retro, stencil, sketch)\",\n  \"humor_type\": \"concise label (e.g. sexual innuendo, sarcastic brag, offensive shock, dark humor, absurd, ironic)\",\n  \"humor_core\": \"one short sentence explaining the actual joke/attitude the design communicates\",\n  \"mood_or_attitude\": \"emotional vibe of the design in 1–3 words (e.g. cocky, rebellious, silly, nihilistic, playful)\",\n  \"keywords_from_design\": [\"3–6 literal keywords extracted from text or imagery (e.g. sperm, skull, beer, retro, cartoon, bold letters)\"]\n}\n\nRules:\n- Extract exact wording for text_on_design (no paraphrasing).\n- Be descriptive in the design field: mention all key visual elements and layout, not just one.\n- Keep style, humor_type, and mood_or_attitude concise.\n- humor_core must summarize the joke or attitude clearly.\n- keywords_from_design must be literal nouns or phrases from the design, not invented ideas.\n- If something is unclear, use \"unknown\" (do NOT make things up).\n- Output JSON only, no markdown or extra text.","imageUrls":"={{ $json.result.preview_url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-464,-320],"id":"22b0ca4d-95cc-4978-973a-2ef6ab9e3edf","name":"Analyze image","credentials":{"openAiApi":{"id":"NBbpLPvChsrtQewU","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=You are a copywriter for a POD store called \"OffendSupply\" that sells funny, edgy, and offensive {{ $('received_row').item.json.product_type || 'shirt' }}.  \nYour task is to take JSON describing a {{ $('received_row').item.json.product_type || 'shirt' }} design and generate a bold product listing.\n\nDesign JSON:\n{{ $json.content }}\n\nOutput valid JSON only, in exactly this structure (parsable by JSON.parse, no markdown, no comments, no extra text):\n\n{\n  \"title\": \"≤6 words + {{ $('received_row').item.json.product_type || 'shirt' }}, must reflect the design’s text/idea, bold and funny\",\n  \"description\": \"Exactly 3 sentences. The first sentence must clearly state what this item is (e.g. 'This {{ $('received_row').item.json.product_type }}') and ground it in the design JSON. If text_on_design exists, include it in the description or title. The second and third sentences must use sarcastic, bold, ironic, or edgy humor while avoiding generic adjectives like 'cheeky' or 'playful'. The third sentence must begin with 'Wear it...' and mention at least one occasion or setting (e.g. parties, family reunions, gifts, holidays).\",\n  \"tags\": [\n    \"{{ $('Get_shirt_category_folder_from_drive').item.json.name }}\",\n    \"9 unique humor/style tags in lowercase (e.g. 'offensive humor', 'funny shirt', 'sarcastic t-shirt', 'novelty tee', 'edgy apparel', 'bold humor', 'dark comedy', 'snarky shirt', include literal design text if present)\",\n    \"3 unique occasion/gift intent tags in lowercase (e.g. 'bachelor party shirt', 'birthday gag gift', 'funny christmas gift')\"\n  ],\n  \"occasion\": [\"1–3 concise occasions chosen only from: birthday, bachelor party, christmas, party, gag gift\"]\n}\n\nRules:\n- Always return syntactically valid JSON, no markdown, no explanations.\n- JSON must be directly parsable by JSON.parse with no trailing commas.\n- Keys must match exactly: title, description, tags, occasion.\n- Tags array must be exactly 13 unique strings: 1 brand tag (first element) + 9 humor/style tags + 3 occasion/gift tags.\n- Occasion array length: 1–3 items. If none apply, return an empty array [].\n- Use text_on_design if present; do NOT invent unrelated slogans.\n- Mention the vibe/message in the description; avoid describing artwork details.\n- Humor must be sarcastic, edgy, bold, or ironic while staying Etsy/Google-safe.\n- Never use explicit or risky terms (e.g., \"porn\", \"sex\", \"sexual innuendo\", \"erotic\", \"NSFW\", \"XXX\").\n- Do not use the words 'cheeky' or 'playful' in the description (allowed in tags if relevant, but not in description text).","role":"assistant"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-240,-320],"id":"8a2fdbc8-60a6-42b8-b794-3e137084dd23","name":"Generate_title,description,tags,occassion","credentials":{"openAiApi":{"id":"NBbpLPvChsrtQewU","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2becb38b-7c1e-4cbf-803f-ce060144c32e","name":"title","value":"={{ $json.message.content.title }}","type":"string"},{"id":"d11d1fcd-5c18-48a0-9cc3-c997ac42dd1f","name":"description","value":"={{ $json.message.content.description }}","type":"string"},{"id":"3bb2b15d-ec6d-4f5a-8296-bec58f0b5d46","name":"tags","value":"={{ $json.message.content.tags }}","type":"array"},{"id":"0370ea26-ce6d-400b-b809-ae657b4fb3e2","name":"occasion","value":"={{ $json.message.content.occasion }}","type":"array"},{"id":"4a82f08e-185e-4710-8c61-e903e4b07f51","name":"materials","value":"[\"cotton\", \"polyester\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-320],"id":"5e059cde-ed6f-48b5-8914-205aca5290db","name":"Append_materials"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"16HZbhUsQcywm0UoYxlA8FoCkPvC9cKD8fvpRn3T9VgE","mode":"list","cachedResultName":"shirt_designs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16HZbhUsQcywm0UoYxlA8FoCkPvC9cKD8fvpRn3T9VgE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"designs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16HZbhUsQcywm0UoYxlA8FoCkPvC9cKD8fvpRn3T9VgE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"design_id":"={{ $('received_row').item.json.design_id }}","n8n_info":"done","uploaded_image_name":"={{ $('Upload_image_to_printful').item.json.result.filename }}","title":"={{ $json.title }}","description":"={{ $json.description }}","tags":"={{ $json.tags }}","occasion":"={{ $json.occasion }}","materials":"={{ $json.materials }}"},"matchingColumns":["design_id"],"schema":[{"id":"design_id","displayName":"design_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"n8n_info","displayName":"n8n_info","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uploaded_image_name","displayName":"uploaded_image_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"occasion","displayName":"occasion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"materials","displayName":"materials","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,-320],"id":"9b69eb7d-a2a0-46e9-8cc7-797cf6612707","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"0RPgTj3sgfGEC2aB","name":"Google Service Account account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"71447c97-d31d-4cec-bb27-6b090d235d10","leftValue":"={{ $json.n8n_info }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d48743da-26b6-4b4e-a90f-32a8a8866485","leftValue":"={{ $json.n8n_info }}","rightValue":"queued","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2256,-96],"id":"14b59a69-f64e-41fc-8a7e-5cd23123425f","name":"If"},{"parameters":{"url":"=https://api.printful.com/files/{{ $json.result.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-PF-Store-Id","value":"={{ $('Get_stores_from_PRINTFUL').item.json.result[0].id }}"}]},"options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-912,-384],"id":"048e3b0f-aece-45b8-a2c5-86e68a96fcb8","name":"Get_image_info","credentials":{"httpBearerAuth":{"id":"Xn7kPe4GiNXZDOcw","name":"Bearer Auth account"}}},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1136,-320],"id":"59e83928-9286-402a-ab77-0bddad4bff81","name":"wait_polling","webhookId":"a27d19db-2bd4-4556-a60a-a08020efa977"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0b7a8f53-1885-4c43-93ab-ff39ac85a4a7","leftValue":"={{ $json.result.status }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-688,-320],"id":"a84deef5-b38c-47da-91e1-14180289633b","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"92cfc87c-ade6-4eff-9094-4016c6088873","name":"max_attempts","value":"10","type":"string"},{"id":"5a1f73fd-52a8-4110-b9d7-057ea80ef080","name":"attempt","value":"0","type":"string"},{"id":"b677f315-9b8d-49a4-9146-37d7987d5421","name":"waiting_time","value":1,"type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-320],"id":"9601ed18-6902-4d86-944b-fa25b7b7ad76","name":"polling_status"},{"parameters":{"httpMethod":"POST","path":"92c830f0-e247-4c41-b058-b43f682cb67b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2928,-64],"id":"0765baef-4095-4815-affa-35c334118c69","name":"Webhook","webhookId":"92c830f0-e247-4c41-b058-b43f682cb67b"},{"parameters":{"assignments":{"assignments":[{"id":"073fd5e5-6c65-46be-b6c9-d6221bba547e","name":"row_number","value":"={{ $('Webhook').item.json.body.row }}","type":"number"},{"id":"398382a4-915c-4f23-b20c-d122e95b64f3","name":"design_id","value":"={{ $('Webhook').item.json.body.record.design_id }}","type":"string"},{"id":"bb1edf39-1c66-49a0-bad6-a285f96b89cd","name":"n8n_info","value":"={{ $('Webhook').item.json.body.record.n8n_info }}","type":"string"},{"id":"3bde2f81-eeb3-4e86-81b5-2ae09ae09ff7","name":"uploaded_image_name","value":"={{ $('Webhook').item.json.body.record.uploaded_image_name }}","type":"string"},{"id":"02ddd32e-cd97-48aa-a569-c3626c905ae9","name":"title","value":"={{ $('Webhook').item.json.body.record.title }}","type":"string"},{"id":"9220e632-b168-4ae8-88a8-4311598c996a","name":"description","value":"={{ $json.body.record.description }}","type":"string"},{"id":"520bd333-40a9-49cb-bb79-f9503bc5f9f5","name":"tags","value":"={{ $json.body.record.tags }}","type":"string"},{"id":"68db9128-4816-4269-9f4b-b66c90d86e57","name":"occasion","value":"={{ $json.body.record.occasion }}","type":"string"},{"id":"73f06121-c418-4e80-8eaa-09e7b4f4b82e","name":"materials","value":"={{ $json.body.record.materials }}","type":"string"},{"id":"8992cc62-7717-44d7-aae3-9dedfd5edf52","name":"created","value":"={{ $json.body.record.created }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2704,-64],"id":"be8fce88-7dbe-4725-ab73-8813b091bbce","name":"create_row_item"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2928,128],"id":"48343061-3935-43a7-8b1e-7673368026a6","name":"Batch_process"},{"parameters":{"workflowId":{"__rl":true,"value":"BlSBEKxAvlfsBouh","mode":"list","cachedResultName":"generate_design_attributes_main"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"design_id","displayName":"design_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"n8n_info","displayName":"n8n_info","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"product_type","displayName":"product_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"image_name","displayName":"image_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"uploaded_image_name","displayName":"uploaded_image_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"occasion","displayName":"occasion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"materials","displayName":"materials","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1808,-16],"id":"4a0b7d1d-0268-420b-9390-2bc082f57126","name":"Execute Workflow"},{"parameters":{"workflowInputs":{"values":[{"name":"design_id"},{"name":"n8n_info"},{"name":"product_type"},{"name":"category"},{"name":"image_name"},{"name":"uploaded_image_name"},{"name":"title"},{"name":"description"},{"name":"tags"},{"name":"occasion"},{"name":"materials"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2928,-320],"id":"9f530c27-7de4-4faf-860f-cd2ffa43e7bc","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"398382a4-915c-4f23-b20c-d122e95b64f3","name":"design_id","value":"={{ $json.design_id }}","type":"string"},{"id":"bb1edf39-1c66-49a0-bad6-a285f96b89cd","name":"n8n_info","value":"={{ $json.n8n_info }}","type":"string"},{"id":"3a4c6acb-566d-41e9-be12-966e8d60f025","name":"product_type","value":"={{ $json.product_type }}","type":"string"},{"id":"d1c3f388-5501-4154-ba29-bfe734636059","name":"category","value":"={{ $json.category }}","type":"string"},{"id":"d358769f-ce93-45cd-ae89-f1f7d9a01844","name":"image_name","value":"={{ $json.image_name }}","type":"string"},{"id":"3bde2f81-eeb3-4e86-81b5-2ae09ae09ff7","name":"uploaded_image_name","value":"={{ $json.uploaded_image_name }}","type":"string"},{"id":"02ddd32e-cd97-48aa-a569-c3626c905ae9","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"9220e632-b168-4ae8-88a8-4311598c996a","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"520bd333-40a9-49cb-bb79-f9503bc5f9f5","name":"tags","value":"={{ $json.tags }}","type":"string"},{"id":"68db9128-4816-4269-9f4b-b66c90d86e57","name":"occasion","value":"={{ $json.occasion }}","type":"string"},{"id":"d1188de7-5fbb-4fb6-b25e-4f0a229588ba","name":"product_type","value":"={{ $json.product_type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2704,-320],"id":"712211c0-520e-4628-8855-56dc72ce7083","name":"received_row"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Get shirts in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get_shirt_category_folder_from_drive":{"main":[[{"node":"Get_shirt_image_id_from_drive","type":"main","index":0}]]},"Get_shirt_image_id_from_drive":{"main":[[{"node":"Set_image_public","type":"main","index":0}]]},"Get_stores_from_PRINTFUL":{"main":[[{"node":"Get_shirt_category_folder_from_drive","type":"main","index":0}]]},"Set_image_public":{"main":[[{"node":"Upload_image_to_printful","type":"main","index":0}]]},"Upload_image_to_printful":{"main":[[{"node":"polling_status","type":"main","index":0}]]},"Extract_everything":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Generate_title,description,tags,occassion","type":"main","index":0}]]},"Generate_title,description,tags,occassion":{"main":[[{"node":"Append_materials","type":"main","index":0}]]},"Append_materials":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"If":{"main":[[{"node":"Extract_everything","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"Get_image_info":{"main":[[{"node":"If1","type":"main","index":0}]]},"wait_polling":{"main":[[{"node":"Get_image_info","type":"main","index":0}]]},"If1":{"main":[[{"node":"Analyze image","type":"main","index":0}],[{"node":"wait_polling","type":"main","index":0}]]},"polling_status":{"main":[[{"node":"wait_polling","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"create_row_item","type":"main","index":0}]]},"create_row_item":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Batch_process":{"main":[[{"node":"Get shirts in sheet","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"received_row","type":"main","index":0}]]},"received_row":{"main":[[{"node":"Get_stores_from_PRINTFUL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c20f145-826b-44c6-b4c8-d63332d3c40a","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-26T16:42:37.719Z","updatedAt":"2025-08-26T16:42:37.719Z","role":"workflow:owner","workflowId":"BlSBEKxAvlfsBouh","projectId":"sI7ESRdP8KAwKDVh","project":{"createdAt":"2025-08-26T16:33:09.258Z","updatedAt":"2025-08-26T16:35:27.927Z","id":"sI7ESRdP8KAwKDVh","name":"Igor Kukolj <igor.kukolj2580@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-08-26T17:02:59.626Z","updatedAt":"2025-08-26T17:15:51.000Z","id":"9AYQH9Y33NfBq7ax","name":"generate_design_attributes_item","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","queryString":"={{ $('Extract_everything').item.json.category }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1312,72],"id":"35250398-bc14-4d8f-bea7-e082643584a1","name":"Get_shirt_category_folder_from_drive","credentials":{"googleApi":{"id":"0RPgTj3sgfGEC2aB","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","resource":"fileFolder","queryString":"={{ $('Extract_everything').item.json.image_name }}","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1088,72],"id":"e6bf634c-5a40-4ccc-ba2e-16c76d3b4ddf","name":"Get_shirt_image_id_from_drive","credentials":{"googleApi":{"id":"0RPgTj3sgfGEC2aB","name":"Google Service Account account"}}},{"parameters":{"url":"https://api.printful.com/stores","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1536,72],"id":"5d2d94fb-ddab-4c92-936d-5d929c7750a4","name":"Get_stores_from_PRINTFUL","credentials":{"httpBearerAuth":{"id":"Xn7kPe4GiNXZDOcw","name":"Bearer Auth account"}}},{"parameters":{"method":"POST","url":"https://api.printful.com/files","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-PF-Store-Id","value":"={{ $('Get_stores_from_PRINTFUL').item.json.result[0].id }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"type","value":"default"},{"name":"url","value":"=https://drive.usercontent.google.com/download?id={{ $('Get_shirt_image_id_from_drive').item.json.id }}"},{"name":"filename","value":"={{ $('Get_shirt_category_folder_from_drive').item.json.name }}_{{ $('Get_shirt_image_id_from_drive').item.json.name }}"},{"name":"options","value":"=[{\"id\": \"template_type\",\"value\": \"native\"}]"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,72],"id":"10bd92a7-e881-4dd3-8bce-5b267c16d433","name":"Upload_image_to_printful","credentials":{"httpBearerAuth":{"id":"Xn7kPe4GiNXZDOcw","name":"Bearer Auth account"}}},{"parameters":{"authentication":"serviceAccount","operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-864,72],"id":"59aa86ad-91fd-4193-a507-b83f4268971a","name":"Set_image_public","credentials":{"googleApi":{"id":"0RPgTj3sgfGEC2aB","name":"Google Service Account account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"You are analyzing a T-shirt design for a print-on-demand store.  \nLook carefully at the ATTACHED IMAGE and output only valid JSON describing the design and its humor.\n\nOutput JSON format:\n{\n  \"text_on_design\": [\"exact text visible on the shirt, or [] if none\"],\n  \"design\": \"detailed description of the visual elements on the shirt (characters, objects, symbols, layout, arrangement)\",\n  \"style\": \"art style in 1–3 words (e.g. cartoon, minimalist text, retro, stencil, sketch)\",\n  \"humor_type\": \"concise label (e.g. sexual innuendo, sarcastic brag, offensive shock, dark humor, absurd, ironic)\",\n  \"humor_core\": \"one short sentence explaining the actual joke/attitude the design communicates\",\n  \"mood_or_attitude\": \"emotional vibe of the design in 1–3 words (e.g. cocky, rebellious, silly, nihilistic, playful)\",\n  \"keywords_from_design\": [\"3–6 literal keywords extracted from text or imagery (e.g. sperm, skull, beer, retro, cartoon, bold letters)\"]\n}\n\nRules:\n- Extract exact wording for text_on_design (no paraphrasing).\n- Be descriptive in the design field: mention all key visual elements and layout, not just one.\n- Keep style, humor_type, and mood_or_attitude concise.\n- humor_core must summarize the joke or attitude clearly.\n- keywords_from_design must be literal nouns or phrases from the design, not invented ideas.\n- If something is unclear, use \"unknown\" (do NOT make things up).\n- Output JSON only, no markdown or extra text.","imageUrls":"={{ $json.result.preview_url }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[480,72],"id":"e2069017-c49a-4ccf-9556-b079620ea576","name":"Analyze image","credentials":{"openAiApi":{"id":"NBbpLPvChsrtQewU","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"GPT-5"},"messages":{"values":[{"content":"=You are a copywriter for a POD store called \"OffendSupply\" that sells funny, edgy, and offensive {{ $('Extract_everything').item.json.product_type || 'shirt' }}.  \nYour task is to take JSON describing a {{ $('Extract_everything').item.json.product_type || 'shirt' }} design and generate a bold product listing.\n\nDesign JSON:\n{{ $json.content }}\n\nOutput valid JSON only, in exactly this structure (parsable by JSON.parse, no markdown, no comments, no extra text):\n\n{\n  \"title\": \"≤6 words + {{ $('Extract_everything').item.json.product_type || 'shirt' }}, must reflect the design’s text/idea, bold and funny\",\n  \"description\": \"Exactly 3 sentences. The first sentence must clearly state what this item is (e.g. 'This {{ $('Extract_everything').item.json.product_type }}') and ground it in the design JSON. If text_on_design exists, include it in the description or title. The second and third sentences must use sarcastic, bold, ironic, or edgy humor while avoiding generic adjectives like 'cheeky' or 'playful'. The third sentence must begin with 'Wear it...' and mention at least one occasion or setting (e.g. parties, family reunions, gifts, holidays).\",\n  \"tags\": [\n    \"{{ $('Get_shirt_category_folder_from_drive').item.json.name }}\",\n    \"9 unique humor/style tags in lowercase (e.g. 'offensive humor', 'funny shirt', 'sarcastic t-shirt', 'novelty tee', 'edgy apparel', 'bold humor', 'dark comedy', 'snarky shirt', include literal design text if present)\",\n    \"3 unique occasion/gift intent tags in lowercase (e.g. 'bachelor party shirt', 'birthday gag gift', 'funny christmas gift')\"\n  ],\n  \"occasion\": [\"1–3 concise occasions chosen only from: birthday, bachelor party, christmas, party, gag gift\"]\n}\n\nRules:\n- Always return syntactically valid JSON, no markdown, no explanations.\n- JSON must be directly parsable by JSON.parse with no trailing commas.\n- Keys must match exactly: title, description, tags, occasion.\n- Tags array must be exactly 13 unique strings: 1 brand tag (first element) + 9 humor/style tags + 3 occasion/gift tags.\n- Occasion array length: 1–3 items. If none apply, return an empty array [].\n- Use text_on_design if present; do NOT invent unrelated slogans.\n- Mention the vibe/message in the description; avoid describing artwork details.\n- Humor must be sarcastic, edgy, bold, or ironic while staying Etsy/Google-safe.\n- Never use explicit or risky terms (e.g., \"porn\", \"sex\", \"sexual innuendo\", \"erotic\", \"NSFW\", \"XXX\").\n- Do not use the words 'cheeky' or 'playful' in the description (allowed in tags if relevant, but not in description text).","role":"assistant"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[704,72],"id":"adde712e-9294-41b1-9af2-bcff07620286","name":"Generate_title,description,tags,occassion","credentials":{"openAiApi":{"id":"NBbpLPvChsrtQewU","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2becb38b-7c1e-4cbf-803f-ce060144c32e","name":"title","value":"={{ $json.message.content.title }}","type":"string"},{"id":"d11d1fcd-5c18-48a0-9cc3-c997ac42dd1f","name":"description","value":"={{ $json.message.content.description }}","type":"string"},{"id":"3bb2b15d-ec6d-4f5a-8296-bec58f0b5d46","name":"tags","value":"={{ $json.message.content.tags }}","type":"array"},{"id":"0370ea26-ce6d-400b-b809-ae657b4fb3e2","name":"occasion","value":"={{ $json.message.content.occasion }}","type":"array"},{"id":"4a82f08e-185e-4710-8c61-e903e4b07f51","name":"materials","value":"[\"cotton\", \"polyester\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,72],"id":"b663d82e-2bcf-40b8-ae5a-8b966375704e","name":"Append_materials"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"16HZbhUsQcywm0UoYxlA8FoCkPvC9cKD8fvpRn3T9VgE","mode":"list","cachedResultName":"shirt_designs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16HZbhUsQcywm0UoYxlA8FoCkPvC9cKD8fvpRn3T9VgE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"designs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16HZbhUsQcywm0UoYxlA8FoCkPvC9cKD8fvpRn3T9VgE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"design_id":"={{ $('Extract_everything').item.json.design_id }}","n8n_info":"done","uploaded_image_name":"={{ $('Upload_image_to_printful').item.json.result.filename }}","title":"={{ $json.title }}","description":"={{ $json.description }}","tags":"={{ $json.tags }}","occasion":"={{ $json.occasion }}","materials":"={{ $json.materials }}"},"matchingColumns":["design_id"],"schema":[{"id":"design_id","displayName":"design_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"n8n_info","displayName":"n8n_info","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uploaded_image_name","displayName":"uploaded_image_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"occasion","displayName":"occasion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"materials","displayName":"materials","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1280,72],"id":"c27e5fd4-7821-4f81-be89-9b035795b44b","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"0RPgTj3sgfGEC2aB","name":"Google Service Account account"}}},{"parameters":{"url":"=https://api.printful.com/files/{{ $json.result.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-PF-Store-Id","value":"={{ $('Get_stores_from_PRINTFUL').item.json.result[0].id }}"}]},"options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,0],"id":"62547476-ce3e-497e-91b5-cfe11d8c5627","name":"Get_image_info","credentials":{"httpBearerAuth":{"id":"Xn7kPe4GiNXZDOcw","name":"Bearer Auth account"}}},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-192,72],"id":"a6acefa5-3151-4caf-8719-ff32303c317c","name":"wait_polling","webhookId":"0db51b4a-b06f-4b51-adca-38b7578a9afd"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0b7a8f53-1885-4c43-93ab-ff39ac85a4a7","leftValue":"={{ $json.result.status }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,72],"id":"31195bb4-a2e8-4303-b2b1-764395b4b9ad","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"92cfc87c-ade6-4eff-9094-4016c6088873","name":"max_attempts","value":"10","type":"string"},{"id":"5a1f73fd-52a8-4110-b9d7-057ea80ef080","name":"attempt","value":"0","type":"string"},{"id":"b677f315-9b8d-49a4-9146-37d7987d5421","name":"waiting_time","value":1,"type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,72],"id":"c75beacf-378e-492c-92f8-7d9f3109fc05","name":"polling_status"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1760,72],"id":"71054d34-24f4-415e-b0c1-5e2607e2a2e6","name":"When Executed by Another Workflow"}],"connections":{"Get_shirt_category_folder_from_drive":{"main":[[{"node":"Get_shirt_image_id_from_drive","type":"main","index":0}]]},"Get_shirt_image_id_from_drive":{"main":[[{"node":"Set_image_public","type":"main","index":0}]]},"Get_stores_from_PRINTFUL":{"main":[[{"node":"Get_shirt_category_folder_from_drive","type":"main","index":0}]]},"Set_image_public":{"main":[[{"node":"Upload_image_to_printful","type":"main","index":0}]]},"Upload_image_to_printful":{"main":[[{"node":"polling_status","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Generate_title,description,tags,occassion","type":"main","index":0}]]},"Generate_title,description,tags,occassion":{"main":[[{"node":"Append_materials","type":"main","index":0}]]},"Append_materials":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"Get_image_info":{"main":[[{"node":"If1","type":"main","index":0}]]},"wait_polling":{"main":[[{"node":"Get_image_info","type":"main","index":0}]]},"If1":{"main":[[{"node":"Analyze image","type":"main","index":0}],[{"node":"wait_polling","type":"main","index":0}]]},"polling_status":{"main":[[{"node":"wait_polling","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get_stores_from_PRINTFUL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"802835d9-8463-42e5-90a3-b1b17258919a","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-26T17:02:59.632Z","updatedAt":"2025-08-26T17:02:59.632Z","role":"workflow:owner","workflowId":"9AYQH9Y33NfBq7ax","projectId":"sI7ESRdP8KAwKDVh","project":{"createdAt":"2025-08-26T16:33:09.258Z","updatedAt":"2025-08-26T16:35:27.927Z","id":"sI7ESRdP8KAwKDVh","name":"Igor Kukolj <igor.kukolj2580@gmail.com>","type":"personal","icon":null,"description":null}}]}]